.Navbar{
    background-color: brown;
    height: 100px;
    display: flex;
    align-items: center;
}

.Navbar a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 40px;
}