.container {
    display: flex;
    justify-content: center;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .filterBox {
    width: 30%; /* Örnek bir genişlik - FilterBox için istediğiniz genişliği belirleyin */
  }
  
  .products {
    width: 65%; /* Örnek bir genişlik - Products için istediğiniz genişliği belirleyin */
  }
  